img {
    position: relative;
    left: 0;
    top: 0;
}

body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/21/83/4e/21834e6999e06800b56a896f37418bc0.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}